#headline {
  font-family: "Sora", sans-serif;
  font-size: 4em;
	margin-left: 225px;
}.container {
  	border: 2px solid;
  	box-shadow: 5px 10px #919191;
}

#worldmap {
	top:100px;
	bottom: 100px;
	left: 100px;
	right: 100px;
	height: 1000px;
	width: 800px;
	/* min-height: 100px; */
}


#scatterplot{
	top:100px;
	bottom: 100px;
	left: 100px;
	right: 100px;
	height: 1000px;
	width: 800px;
	/* min-height: 100px; */
}
